{{extend './_layout.html'}}
{{block 'content'}}
<main role="main" class="probootstrap-main js-probootstrap-main">
    <div class="probootstrap-bar">
        <a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span class="oi oi-menu"></span></a>
        <div class="probootstrap-main-site-logo"><a href="index.html">Aside</a></a></div>
    </div>
    <div class="card-columns">
        {{each list}}
        <div class="card">
            <a href="single/{{$value.cate_id}}/{{$value.id}}">
                <img class="card-img-top probootstrap-animate" src="{{$value.logo}}" alt="{{$value.title}}">
            </a>
        </div>
        {{/each}}
    </div>
</main>
{{/block}}

{{block 'javascript'}}
<script src="/web/index.js"></script>
{{/block}}